<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Slum Portal</title>
    <link rel="icon" type="image/png" sizes="512x512" href="/stat/img/20002.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/stat/img/20002.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/stat/img/20002.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/stat/img/20002.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/stat/img/20002.png">
    <link rel="stylesheet" href="/stat/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i">
    <link rel="stylesheet" href="/stat/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/stat/css/-Login-form-Page-BS4-.css">
    <link rel="stylesheet" href="/stat/css/Application-Form.css">
    <link rel="stylesheet" href="/stat/css/Article-Dual-Column.css">
    <link rel="stylesheet" href="/stat/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="/stat/css/Sakae-Contact-form-with-map.css">
    <link rel="stylesheet" href="/stat/css/styles.css">
    <link rel="stylesheet" href="/stat/css/Ultimate-Event-Calendar.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="#">Slum Portal</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' 0 %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://www.nhp.gov.in/miscellaneous/m-health" target="_blank">M-Health</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'map' 0 %}">Slum Map</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'event' 0 %}">Events</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">List of NGOs</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="https://ngodarpan.gov.in/index.php/home/statewise" target="_blank">State Wise</a><a class="dropdown-item" href="https://ngodarpan.gov.in/index.php/home/sectorwise" target="_blank">Sector Wise</a></div>
                    </li>
                </ul><span class="navbar-text actions"> <a class="btn btn-light action-button" role="button" href="{% url 'log' %}">Log In</a></span></div>
        </div>
    </nav>
    <h1 class="display-4 text-center" style="font-size: 300%;"><br>Thanks for showing your interest😊.<br>We've received your application for review.<br>We will notify you soon.&nbsp;<br><br></h1>
    <div style="text-align: center;"><a class="btn btn-primary text-white shadow-lg" role="button" href="{% url 'home' 0 %}" style="background: rgb(59,192,247);border-radius: 32px;border-style: solid;font-size: 20px;padding: 6px 22px;">Go to Home</a></div>
    <script src="/stat/js/jquery.min.js"></script>
    <script src="/stat/bootstrap/js/bootstrap.min.js"></script>
    <script src="/stat/js/bs-init.js"></script>
    <script src="/stat/js/Application-Form-1.js"></script>
    <script src="/stat/js/Application-Form.js"></script>
    <script src="/stat/js/Ultimate-Event-Calendar.js"></script>
</body>

</html>